/** Style button */
.btn-consult {
    display: inline-block;
    padding: 10px 30px; 
    cursor: pointer;
    background: var(--clr-emerald);
    color:white;
    border: none;
    border-radius:  5px;
  }
  .btn-consult-outline {
    display: inline-block;
    padding: 10px 30px; 
    cursor: pointer;
    background: white;
    color:black;
    border: 1px solid var(--clr-emerald);
    border-radius:  5px;
  }

  .flex-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  
  }
  
  .left-div {
    width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .right-div{
    width: 400px;
  }
  
  .home-intro {
    padding: 1em;
    line-height: 1.5rem;
    
  }

  .home-intro .buttons-array a {
    margin-bottom: 1em;
  }
  
  .home-intro p {
    margin-bottom: 1em;
  }
  
  