.branches-riesgos {
    position: relative;
    overflow: hidden;
}

.branches-riesgos .cut-bkground{
    position: absolute;
    right: 0;
    top: -30em;
    right: -30em;
    width: 935px;
    height: 710px;
    overflow: hidden;
}
.branches-riesgos .cut-bkground img {
    position: absolute;
    width: 100%;
    right: 0;
    top: 0;
}
.branches-riesgos .branches-upper-content {
    text-align: center;
    line-height: 1.5em;
    max-width: 700px;
    margin: auto;
    padding: 1em;    
}
.branches-riesgos .branches-upper-content h1 {
    color: var(--clr-blue);
}

.branches-riesgos .branches-upper-content p {
    color: var(--clr-gray-font);
    line-height: 1.5em;
    text-align: justify;
}

.branches-riesgos .branches-lower-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}
.branches-riesgos .branches-detail {
    width: 500px;
    margin: 3em;
}
.branches-riesgos .branches-detail ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
}
.branches-riesgos .branches-detail li {
    font-size: var(--fs-sm);
    max-width: 220px;
    color: var(--clr-blue);
    line-height: 2em;
}   
.branches-riesgos .branches-detail li p {
    font-weight: var(--fw-semibold);
}
.branches-riesgos .branches-detail li .bullet-point {
    color: var(--clr-gold);
}
.branches-riesgos .branches-detail img {
    width: 100%;    
}