
.footer-riesgos .services-content {
    background: var(--clr-gray);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2em;
    height: auto;
}

.footer-riesgos .service-title {
    line-height: 1.5em;
    max-width: 400px;
}
.footer-riesgos .service-title p {
    color: var(--clr-gray-font);
}
.footer-riesgos .services-content .service-title h2{
    color: var(--clr-blue);
}

.footer-riesgos .service-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
}




.footer-riesgos .footer-upper-content {
    padding: 1em;
}
.footer-riesgos .footer-upper-content-container {
    max-width: var(--maximum-width);
    margin: auto;
}
.footer-riesgos .footer-upper-content-container div {    
    width: 200px;
    padding: 1em;
}
.footer-riesgos .footer-upper-content-container h4 {
    color: black;
    line-height: 2em;
    
}
.footer-riesgos .footer-upper-content-container  ul {
    list-style: none;
    line-height: 1.5em;
}

.footer-riesgos .footer-upper-content-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.footer-riesgos .footer-upper-content-container div .logo {
    width: 80%;
}
.footer-riesgos .footer-upper-content-container div .store {
    width: 50%;
}

.footer-riesgos .footer-upper-content-container div span { 
    font-size: 0.7em;
}

.footer-riesgos .footer-upper-content-container p,
.footer-riesgos .footer-upper-content-container  a{
    color: var(--clr-gray-font);
    font-size: var(--fs-xsm);
    line-height: 1.5em;
    margin-bottom:1em;
}
.footer-riesgos .footer-upper-content-container h4{
    color: var(--clr-blue);
    
}

.footer-riesgos .fa-iconx {
    color: var(--clr-gold);
}

.footer-riesgos .footer-lower-content {
    color: var(--clr-gray-font);
    background: var(--clr-gray);
    padding: 1em;
}
.footer-riesgos .footer-lower-content .footer-lower-content-foot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    max-width: var(--maximum-width);
    
}
.footer-riesgos .footer-lower-content-foot p{
    font-size: 12px;
}

.footer-riesgos .footer-social {
    display: flex;
    width: 250px;
    justify-content: space-between;
    font-size: 12px;
    
}
.footer-riesgos .footer-social a {
    color: var(--clr-gold);
}
