.brand-container {
    width: 200px;
    height: 140px;
    display: flex;
}
.brand-container img {
    margin: auto;
    width: 100%;
}

@media screen and (max-width: 980px) {
    .brandswiper {
        display: none;
    }
    
}