
.chat-icon {
    position: fixed;
    z-index: 9991;
    top: 90%;
    right: 4em;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 5px 10px 50px 0px var(--clr-gray-font);
    z-index: 1000;
    background: white;
  }
  .faicon {
    position: absolute;
    top:20%;
    left:20%;
    color: var(--clr-orange);
  }