.footer-fianzas {
    
}
.footer-fianzas .services-content {
    background: var(--clr-gray);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2em;
    height: auto;
    
}

.footer-fianzas .service-title {
    line-height: 1.5em;
    max-width: 450px;
    
    
}
.footer-fianzas .service-title p {
    color: var(--clr-gray-font);
    font-size: var(--fs-xsm);
    
}
.footer-fianzas .services-content .service-title h2{
    color: var(--clr-blue);
}

.footer-fianzas .service-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


footer .footer-upper-content {
    margin: 1em;
    padding: 0em;
    
    
}
footer .footer-upper-content-container {
    max-width: var(--maximum-width);
    margin: auto;
    
}
.footer-upper-content-container div {    
    width: 200px;

}
.footer-upper-content-container h4 {
    color: black;
    line-height: 2em;
    
}
.footer-upper-content-container  ul {
    list-style: none;
    line-height: 1.5em;
}

footer .footer-upper-content-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

footer .footer-upper-content-container div .logo {
    width: 80%;
}
footer .footer-upper-content-container div .store {
    width: 50%;
}

footer .footer-upper-content-container div span { 
    font-size: 0.7em;
}

footer .footer-upper-content-container p,
footer .footer-upper-content-container  a{
    color: var(--clr-gray-font);
    font-size: var(--fs-xsm);
    line-height: 1.5em;
    margin-bottom: 1em;
}
footer .footer-upper-content-container h4{
    color: var(--clr-blue);
    
}

.fa-iconx {
    color: var(--clr-orange);
}

footer .footer-lower-content {
    color: var(--clr-gray-font);
    background: var(--clr-gray);
    padding: 1em;
}
footer .footer-lower-content .footer-lower-content-foot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    max-width: var(--maximum-width);
    
}
footer .footer-lower-content-foot p{
    font-size: 12px;
}

footer .footer-social{
    display: flex;
    width: 250px;
    justify-content: space-between;
    font-size: 12px;
    margin: 1em;
}

footer .footer-social a {
    color: var(--clr-orange);
}