
.services a{
    /* background: var(--clr-gray); */
    color: black;
}
.services-upper-content {
    position: relative;    
    overflow: hidden;
    min-height: 550px;
}

.services-upper-content .cover {
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(255, 81, 0, 0.5), rgba(255, 81, 0, 0.5));
    z-index: -998;
}

.services-upper-content img {
    position: absolute;
    top: 0;
    z-index: -999;
    width: 100%;
    color: white;
}
.service-main {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: center;
    
}
.service-main-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-main-left .service-title {
    padding: 1em;
    max-width: 350px;
    color: white;
}
.service-title h2 {
    line-height: 2em;
}
.service-title p {
    line-height: 1.5em;
}
.service-main-right {
    padding: 1em;
}
.service-box h4 {
    line-height: 2em;
    color:black;
}

.service-box {
    background: white;
    max-width: 450px;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;      
}

.service-box p {
    margin-bottom: 1em;
}
