.submenu {
    /* background: var(--clr-orange); */
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 1000;
    height: var(--submenu-height);
    top: var(--header-height);
    border: 1px solid blue;
    
}

.submenu nav {
    background: white ;
    position: absolute;
    padding-top: 1em;    
    top: 100%;
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms;
}
.submenu .logo {
    padding:1em;   
}

.submenu nav ul{
    text-align: left;
    list-style: none;
}
.submenu nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}
.submenu nav a,
.submenu nav p {
    text-decoration: none;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
.submenu nav a:hover {
    color: gainsboro;
}

.submenu .navtoggle {
    display: none;
}
.submenu .navtoggle:checked ~ nav {    
    transform: scale(1,1);
}
.submenu .navtoggle:checked ~ nav a,
.submenu .navtoggle:checked ~ nav p{ 
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.submenu .navtoggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.submenu .navtoggle-label span,
.submenu .navtoggle-label span::before,
.submenu .navtoggle-label span::after {
    display: block;
    background: black;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}
.submenu .navtoggle-label span::before,
.submenu .navtoggle-label span::after {
    content: '';
    position: absolute;
}
.submenu .navtoggle-label span::before {
    bottom: 7px;
}
.submenu .navtoggle-label span::after {
    top: 7px;
}

@media screen and (min-width: 980px) {
    .submenu .navtoggle-label {
        display: none;
    }
    .submenu { 
        display: grid;
        grid-template-columns: 1fr auto minmax(800px, 1fr) 0.1fr;
    }
    .submenu .logo {
        grid-column: 1 / 2;
    }
    .submenu nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .submenu nav a,
    .submenu nav p{
        opacity: 1;
    }
    .submenu nav a {
        position: relative;
    }
    .submenu nav p{ 
        text-align: right;
        width: 300px;
    }
    .submenu nav ul {
        display: flex;
        justify-content: flex-end;
        
    }
    .submenu nav ul li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 120px;
    }
}