@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}
:root {
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Dancing Script', sans-serif;
  --fw-thin: 100;
  --fw-regular: 300;
  --fw-semibold: 600;
  --fw-bold: 900;
  --clr-gray: #F0F0F0;
  --clr-gray-font: #737373;
  --clr-blue: #003DA6;
  --clr-gold: #F7AA24;
  --clr-emerald: #648E3D;
  --clr-orange: #FF5100;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --fs-xsm: 0.8rem;
  --fs-sm: 1rem;
  --fs-mm: 1.2rem;
  --fs-lg: 1.5rem;
  --fs-slg: 3em;
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  
  --header-height: 4em;
  --submenu-height: 8em;
  --section-padding-top: 12em;
  --maximum-width: 1100px;
}

* {
  font-family: var(--ff-primary);
  padding: 0;
  margin: 0;
}

html {
	scroll-behavior: smooth;
}
/*** generaly removes all a tags default format */ 
a {
  text-decoration: none;
  color: var(--clr-blue);
}

.content {
  height: 400px;
}

section {
  max-width: var(--maximum-width);
  margin: auto;
}

hr {
  color: var(--clr-gray);
}

.vertical-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
