@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}


:root {
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Dancing Script', sans-serif;
  --fw-regular: 300;
  --fw-bold: 900;
  --clr-gray: #F0F0F0;
  --clr-blue-fianzas: #003DA6;
  --clr-amarillo-riesgos: #F7AA24;
  --clr-verde-consultoria: #648E3D;
  --clr-orange: #FF5100;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --fs-xsm: 0.8rem;
  --fs-sm: 1rem;
  --fs-mm: 1.2rem;
  --fs-lg: 1.5rem;
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  
  --header-height: 4em;
  --submenu-height: 4em;
  --section-padding-top: 8em;
  --maximum-width: 1024px;
}

* {
  font-family: var(--ff-primary);
  padding: 0;
  margin: 0;
}

/**** temporary *****/ 
.content {
  height: 200vh;
}

/*** generaly removes all a tags default format */ 
a {
  text-decoration: none;
  color: black;
}

/** Style button */
.btn {
  display: inline-block;
  padding: 10px 30px; 
  cursor: pointer;
  background: palevioletred;
  color:white;
  border: none;
  border-radius:  5px;
}

section {
  max-width: var(--maximum-width);
  margin: auto;
  border: 1px solid yellow;
}

.flex-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid palevioletred;
}

.left-div {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right-div{
  height: 500px;
  width: 400px;
}

.home-intro {
  padding: 1em;
  line-height: 1.5rem;
}


/*** Imagen con fondo curvo */
.curved-bk-img{
  position: relative;
}
.girl-img {
  z-index: 999;
  position: absolute;
  top: 0;
  width:100%;
  
}
.curvedbk-img {
  position: absolute;
  top: 5em;
  left: -5em;
  width: 130%;
}
/*****************/

h1 {
  font-size: var(--fs-h1); 
  line-height: 1em;
  padding-bottom: 0.5em;
}

p {
  margin-bottom: 1em;
}