.branches-seguros {
    position: relative;
    overflow: hidden;
}

.branches-seguros .cut-bkground{
    position: absolute;
    right: 0;
    top: -30em;
    right: -30em;
    width: 935px;
    height: 710px;
    overflow: hidden;
}
.branches-seguros .cut-bkground img {
    position: absolute;
    width: 100%;
    right: 0;
    top: 0;
}
.branches-seguros .branches-upper-content {
    text-align: center;
    line-height: 1.5em;
    max-width: 700px;
    margin: auto;
    padding: 1em;
}
.branches-seguros .branches-upper-content h1 {
    color: var(--clr-blue);
}
.branches-seguros .branches-upper-content p {
    color: var(--clr-gray-font);
    line-height: 1.5em;
    text-align: justify;
}



.branches-seguros .branches-lower-content {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.branches-seguros .branches-detail {
    width: 400px;
    
}
.branches-seguros .branches-detail ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
}
.branches-seguros .branches-detail li {
    font-size: var(--fs-sm);
    max-width: 220px;
    color: var(--clr-blue);
    line-height: 2em;
}
.branches-seguros .branches-detail li p {
    font-weight: var(--fw-semibold);
}
.branches-seguros .branches-detail img {
    width: 100%;
}