.submenu-seguros  {
    /* background: var(--clr-orange); */
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 1000;
    height: var(--submenu-height);
    top: var(--header-height);
    
}

.submenu-seguros  nav {
    background: white ;
    position: absolute;
    padding-top: 1em;    
    top: 100%;
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms;
}
.submenu-seguros  .logo {
    padding:1em;   
}

.submenu-seguros  nav ul{
    text-align: left;
    list-style: none;
}
.submenu-seguros  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}
.submenu-seguros  nav a,
.submenu-seguros  nav p {
    text-decoration: none;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
.submenu-seguros  nav a:hover {
    color: gainsboro;
}

.submenu-seguros  .navtoggle {
    display: none;
}
.submenu-seguros  .navtoggle:checked ~ nav {    
    transform: scale(1,1);
}
.submenu-seguros  .navtoggle:checked ~ nav a,
.submenu-seguros  .navtoggle:checked ~ nav p{ 
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.submenu-seguros  .navtoggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.submenu-seguros  .navtoggle-label span,
.submenu-seguros  .navtoggle-label span::before,
.submenu-seguros  .navtoggle-label span::after {
    display: block;
    background: black;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}
.submenu-seguros  .navtoggle-label span::before,
.submenu-seguros  .navtoggle-label span::after {
    content: '';
    position: absolute;
}
.submenu-seguros  .navtoggle-label span::before {
    bottom: 7px;
}
.submenu-seguros  .navtoggle-label span::after {
    top: 7px;
}

@media screen and (min-width: 980px) {
    .submenu-seguros  .navtoggle-label {
        display: none;
    }
    .submenu-seguros  {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .submenu-seguros  .submenu-container {
        width: var(--maximum-width);
        margin: auto;
        
    }
    .submenu-seguros  .submenu-container { 
        display: flex;
        justify-content: space-between;
    
    }
    .submenu-seguros  .logo {
        padding: 0;
    }
    
    .submenu-seguros  nav {
        all: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 550px;
        
    }

    .submenu-seguros  nav a,
    .submenu-seguros  nav p{
        opacity: 1;
    }
    .submenu-seguros  nav a {
        position: relative;
    }
    .submenu-seguros  nav p{ 
        text-align: right;
        width: 300px;
    }
    .submenu-seguros  nav ul {
        display: flex;
        justify-content: flex-end;
        
    }
    .submenu-seguros  nav ul li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 120px;
    }
}